
.hidden {
    visibility: hidden;
}


.complete-task {
    text-decoration: line-through;
    color: gray;
}

.list-grid{
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
}

.list-main {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: .5em;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: .5em;
    width: 40%;
}

.list-main h1{
    font-size: 1.75em;
    margin: .45em;
}

form > * {
    margin: .1em;
    border: 0;
    font-size: medium;
}

.list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: .5em;
}

.header-buttons {
    display: none;
}

.list-header:hover .header-buttons {
    display: flex;
}


.tasklist {
    padding: .1em;
    padding-bottom: 1em;
}

.taskbox {
    display: flex;
    flex-direction: row;
    padding: .25em;
    flex-wrap: wrap;
}

.task {
    display: flex;
    padding-left: .5em;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
    text-align: left;
}

.task-icons {
    display: none;
}

.taskbox:hover .task-icons {
    display: flex;
    margin-left: auto;
}

.taskbox:hover .task{
    max-width: 77.5%;
}

button {
    border: 0;
}

footer {
    font-size: 12px;
    color: gray;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer a {
    color: gray;
}